<!DOCTYPE html>
<html>
<head>
  <title>Twitter</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class = "wrapper">
		<div class = "header">
			<div class = "text">
				<div><span>twitter</span></div>
			</div>
		</div>
		<div class = "contentWrapper">
			<div class = "content">			
				<%= yield %>
			</div>
		</div>
	</div>
</body>
</html>
