<br /> <br /> <br /> <br /> <br />

<div class = "images">
	<%= image_tag "download.jpg", :id => "img1" %>
	<%= image_tag "images (1).jpg", :id => "img2" %>
	<br />
	<%= image_tag "images (2).jpg", :id => "img3" %>
</div>

<div class = login>
	<div class = head> Sign Up </div><hr />
	<%= render 'form'%>
</div>
