<div class = "signUpContent">
	<div class = "images">
		<%= image_tag "best-social-networking-script.jpg", :id => "img1" %>
	</div>

	<div class = login>
		<div class = head> Sign Up </div><hr />
		<%= render 'form'%>
	</div>
</div>
