<div class = "loginContent">
	<div class = "images">
		<%= image_tag "best-social-networking-script.jpg", :id => "img1" %>
	</div>

	<div class = login>
		<div class = head> Login </div><hr />
		<%= render "form" %>
	</div>
</div>
