<%= form_for(@category) do |f| %>
	<div>
			<div class="field">
				<%= f.label :name %><br />
				<%= f.text_field :name %>
			</div>
		
			<div class="actions">
				<%= f.submit %>
			</div>	
	</div>
<% end %>

